/* -------- Fonts Imported --------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tilt+Warp&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------- Variables --------*/
:root {
    --black: #0E0A09;
    --white: #FFF8EC;
    --cream: #FFF3DF;
    --lt-pink: #FEEDDA;
    --pink: #E36A74;
    --lt-brown: #b47453;
    --brown: #642601;
    --dk-brown: #51230B;
    --green: #8BAB5F;
    --yellow: #ffd587;
    --cream-brown: #CBAA98;
}

/* -------- Universal --------- */
body, button {
    font-family: 'Poppins', 'Tilt Warp', serif;
    font-weight: 600;
    text-align: center;
    line-height: 1.5;
}
h1 {
    font-size: 32px;
}
#launch-btn {
    font-size: 20px;
}
h2 {
    font-size: 24px;
}
button {
    font-size: 16px;
    width: 336px;
    height: 72px;
    border-radius: 32px / 32px;
    border: unset;
    color: var(--black);
}
.white {
    color: var(--white);
}
.hidden {
    display: none;
}
.transparent {
    opacity: 0;
}

/*-------- Header --------*/
header {
    background-color: var(--black);
}

/* --- nav --- */
#nav-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 48px;
    padding-left: 32px;
    height: 88px;
}

/*-------- Main --------*/
main {
    position: relative;
}
#main-content {
    display: grid;
    grid-template-rows: .9fr .1fr;
    min-height: calc(100vh - 80px - 88px - 10px);
}
div#intro-holder.main-script {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-script {
    height: 100%;
    display: grid;
    gap: 24px;
    grid-template-rows: .45fr .55fr;
    justify-items: center;
}
.upper-element {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 85vw;
}
#launch-btn {
    width: 288px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    border-radius: 32px / 32px;
}
#btns-holder {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
#progress-bar {
    background-color: #F7F2F6;
    width: 80vw;
    margin: 0 auto;
    height: 16px;
    border-radius: 13px 13px;
    border: unset;
    box-shadow: inset -1px 6px 6px 1px rgba(0, 0, 0, 0.1), inset 0px 4px 4px rgba(0, 0, 0, 0.06);
}
.ui-progressbar-value {
    width: 25%;
    border-radius: 13px 13px;
    box-shadow: 3px 0px 4px -1px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.06);
    margin: unset !important;
}
.ui-widget-header {
    border: unset !important;
}
#bubbles-holder {
    z-index: -1;
    position:absolute;
    top: 0;
    min-height: calc(100vh - 88px);
    width: 100vw;
    overflow: hidden;
}
#bubbles-holder div {
    position: absolute;
    width: 40vw;
    height: calc((100vh - 82.5px) / 2);
}
#quadrant2 {
    right: 0;
}
#quadrant3 {
    bottom: 0;
}
#quadrant4 {
    right: 0;
    bottom: 0;
}
.bubble {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.06);
}

/* --- result --- */
#result-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
#result-holder p:first-child {
    padding-top: 16px;
    font-weight: 500;
}
#playlist-title {
    text-align: left;
    font-size: 64px;
    line-height: .8;
    font-weight: 600;
    letter-spacing: 2px;
}
iframe {
    max-width: 976px;
}
#retake-btn {
    text-align: center;
    margin: 24px auto;
    background: var(--black);
    color: var(--white);
}

.swiper {
    width: 100vw;
    height: 30vh;
    display: flex;
    align-items: center;
    background: rgb(247 242 246 / 0.9);
    box-shadow: inset -1px 6px 6px 1px rgba(0, 0, 0, 0.1), inset 0px 4px 4px rgba(0, 0, 0, 0.06);
}
.swiper-wrapper {
    width: 100%;
    height: 192px;
    display: flex;
    align-items: center;
}
.swiper-slide {
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 4% / 6% 6%;
    display: flex;
    color: #ffffff;
    font-size: 2rem;
}
.swiper-slide h2 {
    margin-left: 16px;
}
.swiper-slide div.iframe-holder {
    position: absolute;
    transform: rotate(-25deg) scale(.8) translate(68px, 73px);
}
.iframe-holder iframe {
    width: 227px;
    height: 360px;
}
#delete-btn {
    width: 184px;
    height: 40px;
    font-size: 11px;
    font-weight: 300;
    align-self: end;
    box-shadow: inset 6px 6px 8px 2px rgba(0, 0, 0, 0.1), inset 4px 6px 4px rgba(0, 0, 0, 0.06);
    margin-top: 8%;
}

/* -------- Footer --------- */
footer {
    height: 80px;
    width: 100%;
    background: var(--black);
    color: var(--white);
    padding-bottom: 10px;
}
footer small {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 200;
}

/* -------- Responsive --------- */
@media screen and (min-width: 1280px){
    h1 {
        font-size: 72px;
    }
    #launch-btn {
        width: 560px;
        height: 72px;
        font-size: 24px;
        border-radius: 40px / 40px;
    }
    h2{
        font-size: 32px;
    }
    button {
        font-size: 20px;
        width: 648px;
        height: 80px;
        border-radius: 40px / 40px;
    }

    /*--- result holder ---*/
    #result-holder {
        display: grid;
        grid-template-rows: 1fr 1fr 5fr 5fr .5fr;
        flex-direction: column;
        align-items: center;
        gap: unset;
    }
    iframe {
        height: 400px;
    }
    #result-holder p:first-child {
        font-size: 18px;
    }
    #playlist-title{
        letter-spacing: 2px;
        font-size: 96px;
    }
    .swiper {
        height: 50vh;
    }
    .swiper-wrapper {
        height: 92%;
    }
    .swiper-slide {
        position: relative;
        height: 416px;
    }
    .swiper-slide h2 {
        font-size: 64px;
        margin-left: 72px;
        text-align: left;
    }
    .swiper-slide iframe {
        height: 354px;
        width: 330px;
    }
    .swiper-slide div.iframe-holder {
        transform: rotate(-25deg) scale(1.75) translate(148px, 224px);
    }
    #delete-btn {
        position: absolute;
        right: 30px;
    }
}

/* -------- Animation --------- */
.fade-out {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 1s ease-in, transform 1s ease-in;
}
.fade-in {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 1s ease-in, transform 1s ease-in;
}
#quadrant1 div {
    animation-name: float-up;
    animation-duration: 4s;
}
#quadrant2 div {
    animation-name: float-down;
    animation-duration: 6s;
}
#quadrant3 div {
    animation-name: float-down;
    animation-duration: 4s;
}
#quadrant4 div {
    animation-name: float-up;
    animation-duration: 6s;
}
.bubble {
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#quadrant1.byebye-bubbles, #quadrant2.byebye-bubbles {
    animation-name: removing-upper-bubbles;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}
#quadrant3.byebye-bubbles, #quadrant4.byebye-bubbles {
    animation-name: removing-lower-bubbles;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}
@keyframes float-up {
    0% {
        transform: translateY(0px)
    }
    100% {
        transform: translateY(30px)
    }
}
@keyframes float-down {
    0% {
        transform: translateY(0px)
    }
    100% {
        transform: translateY(-26px)
    }
}
@keyframes removing-upper-bubbles {
    0% {
        transform: translateY(0px)
    }
    20% {
        transform: translateY(15px);
    }
    48% {
        transform: translateY(15px);
        opacity: 1;
    }
    100% {
        transform: translateY(-400px);
        opacity: .5;
    }
}
@keyframes removing-lower-bubbles {
    0% {
        transform: translateY(0px)
    }
    20% {
        transform: translateY(15px);
    }
    48% {
        transform: translateY(15px);
        opacity: 1;
    }
    100% {
        transform: translateY(-800px);
        opacity: .5;
    }
}